@model E_Commerce_Payment_API.Models.Product;
@using System.Globalization;


@{
     ViewData["Title"] = "Delete product";
}


<h2 style="color: red;">Do you really wih to delete your profile? You won't be able to retrive it... </h2>

<br>

<div id="deleteform">
<br>
<div  class="row">
     <dl class="col-md-16 row">
          <form asp-action="DeleteProduct">
               <dt class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control-plaintext" aria-disabled="true"/>
               </dt>
               <dt class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control-plaintext" aria-disabled="true"/>
               </dt>
               <dt class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control-plaintext" aria-disabled="true">
               </dt>
               <dt class="form-group">
                    <label asp-for="StockQuantity" class="control-label"></label>
                    <input asp-for="StockQuantity" class="form-control-plaintext" aria-disabled="true"/>
               </dt>
               <dt class="form-group">
                    <label asp-for="Weight" class="control-label"></label>
                    <input asp-for="Weight" class="form-control-plaintext" aria-disabled="true"/>
               </dt>
          </form>
     </dl>
</div>
</div>

     <form asp-action="DeleteProduct" onclick="return confirm('Are you sure you want to delete?');">
     <input id="btnDelete" type="submit" value="Delete" class="btn btn-danger"/>
     </form>


<br>


<a class="nav-link text-light col" asp-area="" asp-controller="Product" asp-action="SellerIndex"><button class="btn btn-secondary">Back</button></a>