@{
    ViewData["Title"] = "Seller's page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the Seller's page</h2>
</div>

<br>
<br>

<div class="container">
    <div class="row center">
        <div class="col order-first">
            <a asp-controller="Seller" asp-action="SellerActionsPage"><button class="btn btn-primary">I am already a seller</button></a>
        </div>
        <div class="col">
            <a asp-controller="Seller" asp-action="Register"><button class="btn btn-primary">I want to be a seller</button></a>
        </div>
    </div>
</div>

<br>
<br>

<a class="nav-link text-light col" asp-area="" asp-controller="Home" asp-action="Index"><button class="btn btn-secondary">Back</button></a>